

{% extends "base.html" %}


{% block content %}



    {% for obj in object_list %}{% csrf_token %}

  
    <div class='row'>
        <div class='col-sm-12'>
            <div class='thumbnail'>
            <h3><a href='{% url "profiles:detail" username=obj.user.username %}'>{{ obj.user }}</a></h3> 
            <h4>{{ obj.name }}</h4> 
            <p> <a href='{% url "profiles:detail" username=obj.user.username %}?q={{ obj.restaurant.title }}' >{{ obj.restaurant.title }}  </a>| <a href='{% url "profiles:detail" username=obj.user.username %}?q={{ obj.restaurant.category }}'>{{ obj.restaurant.category }}</a></p>
        <ul>
            
             {% for item in obj.restaurant.item_set.all %} 
                       <li style='margin-bottom: 15px;'>{{ item.name }} </li> <br>

                       {% for ing in item.get_contents %}
                            <a href='{{ requer.path }}?q={{ ing }}'><span class='badge badge-default'>{{ ing }}</span></a>
                       {% endfor %}
           {% endfor %} 
                   
        </ul>
    </div>
</div>

    </div>   

    {% endfor %}

{% endblock %}