

{% extends "base.html" %}


{% block content %}

    <h1> Menu Items <small><a href='{% url "menus:create" %}'>Add</a></small></h1> 

    {% for obj in object_list %}
    <div class='row'>
            <div class='col-sm-12'>
                    <div class='thumbnail'>
             <li style='margin-bottom: 15px;'><a href='{{ obj.get_absolute_url }}'>{{ obj.name }}</a></li>
             {% if obj.contents %}
             <h4>Contents</h4>
             <ul>
                    {% for item in obj.get_contents %}
                        <li class='badge badge-default'>{{ item }}</li>
                        {% endfor %}
             </ul>
             {% endif %}
             {% if obj.excludes %}
             Contents
             <ul>
                    {% for item in obj.get_excludes %}
                        <li>{{ item }}</li>
                        {% endfor %}
             </ul>
             {% endif %}
            </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}